

.header__container {
    height: 72px;
    display: flex;
    
}

.header__right-column {
    display: flex;
}

.header__logo-img {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
}


.header__buttons-container {
    display: flex;
    height: 72px;
    order: 999;
    margin-left: auto;
    margin-right: 5%;
}

.header__buttons-button {
    font-family: Sen, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 23px;
    padding-left: 30px;
    padding-right: 30px;
}
.header__buttons-button:last-child {
    background-color: #5221E6;
}

.header__buttons-button {
    color: #fff;
}

.header__menu-container {
    padding-top: 25px;
    order: 999;
    margin-left: auto;
    margin-right: 10%;
}


@media (width >= 768px) {
    .header__left-column {
        height: 72px;
        width: 35%;
        background-color: #000;
    }
    .header__right-column {
        height: 72px;
        width: 65%;
        background-color: #181823;
    }
    .header__menu-container {
        display: none;
    }
}

@media (width <= 768px) {
    .header__left-column {
        height: 72px;
        width: 40%;
        background-color: #000;
    }
    .header__right-column {
        height: 72px;
        width: 60%;
        background-color: #000
    }
    .header__menu-container {
        display: none;
    }
}

@media (width <= 360px) {
    .header__left-column {
        height: 72px;
        width: 40%;
        background-color: #000;
    }
    .header__right-column {
        height: 72px;
        width: 60%;
        background-color: #000;
    }
    .header__buttons-container {
        display: none;
    }
    .header__menu-container {
        display: block;
    }
}

