

.header__container {
    height: 72px;
    display: flex;
    width: 100%;
    
    
}

.header__right-column {
    display: flex;
}

.header__logo-img {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
}


.header__buttons-container {
    display: flex;
    height: 72px;
    order: 999;
    margin-left: auto;
    margin-right: 5%;
}

.header__buttons-button {
    font-family: Sen, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 23px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
}

.header__buttons-button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.50);
}
.header__buttons-button2 {
    background-color: #5221E6;
    font-family: Sen, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 23px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
}



.header__menu-container {
    padding-top: 25px;
    order: 999;
    margin-left: auto;
    margin-right: 30px;
}

.wrapper-header{
    padding-top: 15px;

  }
  
  a{
    display: block;
    width: 123%;
    height: 90px;
    line-height: 40px;
    font-size: 18px;
    font-family: Sen;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
      position: relative;
      z-index: 2;
      font-family: Sen;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; 
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #5221E6;
    transition: all .35s;
  }
  
  a:hover{
    color: #fff;
  }
  
  a:hover:after{
    width: 100%;
  }

@media (width >= 768px) {
    .header__left-column {
        height: 72px;
        width: 35%;
        background-color: #000;
    }
    .header__right-column {
        height: 72px;
        width: 65%;
        background-color: #181823;
    }
    .header__menu-container {
        display: none;
    }
}

@media (width <= 768px) {
    .header__left-column {
        height: 72px;
        width: 20%;
        background-color: #000;
    }
    .header__right-column {
        height: 72px;
        width: 80%;
        background-color: #000
    }
    .header__menu-container {
        display: none;
    }
}

@media (width <= 360px) {
    .header__left-column {
        height: 72px;
        width: 40%;
        background-color: #000;
    }
    .header__right-column {
        height: 72px;
        width: 60%;
        background-color: #000;
    }
    .header__buttons-container {
        display: none;
    }
    .header__menu-container {
        display: block;
    }
}

