@import url("header-style.css");
@import url("footer-style.css");

@font-face {
    font-family: "Sen";
    src: url(../fonts/Sen-Regular.ttf) format(truetype);
    font-weight: 400;
}

a {
    text-decoration: none;
}

.main {
    background-color: #000;
}

.main__hero {
    height: 650px;
}

.main__hero-left-column {
    background-color: #000;
    height: 650px;
    width: 35%;
}

.main__hero-right-column {
    background-color: #181823;
    height: 650px;
    width: 65%;
}

.main__hero-img_container {
    position: absolute;
    margin-top: 60px;
    width: 40%;
    height: 550px;
    display: block;
    background-color: #fff;
    background-image: url("../images/Robin-img1.jpg");
    background-size: cover;
    
}

.main__hero-img {
    width: 750px;
    height: 650px;
}

.main__hero_text {
    justify-content: center;
    padding-top: 140px;
    position: relative;
    padding-right: 100px;
}

.main__hero-title-text {
    color: #fff;
    font-family: Sen;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
    padding-right: 20px;
}

.main__hero-title-text_span {
    color: rgba(255, 255, 255, 0.50);
    font-family: Sen;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
    padding-right: 20px;
}

.main__hero-text {
    padding-top: 25px;
    padding-left: 20px;
}

.main__hero-text-text {
    color:  #FFF;
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.companies-container {
    background-color: #000;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10vh;
}

.companies-first__row {
    width: 100%;
    padding-top: 120px;
}

.companies__up-text-text {
    color:  #8491A0;
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

.companies__title-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.companies-second__row {
    display: flex;
    width: 100%;
}

.companies__left_container {
    height: 247px;
    width: 33, 3%;
}


.companies__midle_container {
    height: 247px;
    width: 33, 3%;
}

.companies__right_container {
    height: 247px;
    width: 33, 3%;
}

.companies-number-text {
    color: #8491A0;
    font-family: Sen;
    font-size: 117px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.companies-companies-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.text-color-g {
    color: #3CC74E;
}

.text-color-b {
    color: #609BFF;
}

.text-color-r {
    color: #E95D90;
}


.companies-text {
    padding-top: 20px;
    width: 80%;
}

.companies-text-text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.values-container {
    display: flex;
    height: 600px;
    width: 100%;
}

.values__left-container {
    width: 50%;
    background: var(--peach-accent, #FFF3E4);
    padding-left: 5%;
    padding-top: 100px;
    padding-right: 5%;
}

.values__title-text {
    color: var(--level-1, #181823);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.vales__text-text {
    color: var(--dark-grey, #5B6876);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.values__botton-text {
    width: 120px;
    border: #000;
}

.values__botton-text-text {
    color: var(--level-1, #181823);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 100px;
}

.values__right-container {
    width: 50%;
    background-image: url(../images/values-img1.jpg);
    display: block;
    background-size: cover;
}

.skillset-container {
    background-color: #000;
    display: flex;
    padding-bottom: 150px;
}

.skillset__left-container {
    height: 660;
    width: 25%;
    padding-top: 120px;
    padding-left: 5%;
    padding-right: 200px;
}

.skillset__right-container {
    height: 660;
    width: 70%;
    padding-top: 120px;
    padding-left: 72px;
    padding-right: 200px;
}

.skillset__left-title-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;

}

.skillset__left-text-text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.skillset__right-container {
    display: flex;
}

.skillset__content_title-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.skillset__content_text-text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.skillset__right_left-column_first-container {
    padding-bottom: 50px;
}

.skillset__right_right-column_first-container {
    padding-bottom: 50px;
}

.skillset__right_left-column {
    margin-right: 40px;
}

.skillset__content_img {
    padding-bottom: 35px;
}

.skillset__content_title-text {
    padding-bottom: 10px;
}

.skroll-bar-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    overflow-x: scroll;
    background-color: #000;
    height: 140px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.skroll-bar-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.skroll-bar__left-column {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.skroll-bar__right-column {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.skroll-bar__content_container {
    height: 100%;
    width: 340px;
    border: 1px solid var(--level-1, #181823);
    text-align: center;
}

.skroll-bar__content-img {
    margin-top: 59px;
}

.past-8-years-container {
    display: flex;
    margin-top: 200px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.past-8-years__left_column-container {
    width: 50%;
    height: 2500px;
    padding-right: 10px;
}

.past-8-years__right_column-container {
    width: 50%;
    height: 2500px;
    padding-left: 10px;
}

.past-8-years__column-header-footer_content {
    height: 10%;
    width: 100%;
}

.past-8-years__column-header-footer_content-top_text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

.past-8-years__column-header-footer_content-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.past-8-years__column-container-content {
    width: 100%;
    height: 800px;
    padding-bottom: 100px;
}

.past-8-years__column-container-img1 {
    height: 75%;
    background-image: url(../images/past-8-years-img1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.past-8-years__column-container-img2 {
    height: 75%;
    background-image: url(../images/past-8-years-img2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.past-8-years__column-container-img3 {
    height: 75%;
    background-image: url(../images/past-8-years-img3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.past-8-years__column-container-img4 {
    height: 75%;
    background-image: url(../images/past-8-years-img4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.past-8-years__column-container-text {
    height: 25%;
    background: var(--level-1, #181823);
    padding-top: 40px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.past-8-years__column-container-text_lable {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding-bottom: 20px;
}

.past-8-years__column-container-text_text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.past-8-years__column-header-footer_content2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 110px;
    margin-left: 40%;
}

.past-8-years__column-header-footer_content-button {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    border: 1px solid var(--purple, #5221E6);
    padding: 20px 20px;
}

.instagram-container {
    display: flex;
    height: 600px;
    width: 100%;
}

.instagram-left__container {
    width: 50%;
    background: var(--violet-accent, #FBE4FF);
    padding-left: 5%;
    padding-top: 100px;
    padding-right: 5%;
}

.instagram-title {
    color: var(--level-1, #181823);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.instagram-text {
    color: var(--dark-grey, #5B6876);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.instagram-bottom-text {
    width: 150px;
    border: #000;
}

.instagram-bottom-text-text {
    color: var(--level-1, #181823);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 100px;
}

.instagram-right__container {
    width: 50%;
    background-image: url(../images/instagram-img.png);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.dribbble__container {
    padding: 200px 5% 150px 5%;
    width: 90%;
}

.dribbble__text-container {
    padding-bottom: 200px;
}

.dribbble__text-title {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 25px;
}

.dribbble__text-text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 40px;
}

.dribbble__text_bottom {
    width: 180px;
}

.dribbble__text_bottom-button {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.dribbble__img-header {
    border-radius: 8px 8px 0px 0px;
    background: var(--level-1, #181823);
}

.dribbble__img-header-img {
    padding: 7px 15px;
}

.dribbble__img-main {
    background-image: url(../images/dribling-main-img.png);
    width: 100%;
    background-size: 100%;
    height: 640px;
    border-radius: 0px 0px 8px 8px;
    background-repeat: no-repeat;
    object-fit: cover;
}


.about-me__left-container {
    width: 50%;
    padding-right: 30px;
}

.about-me__right-container {
    width: 50%;
}

.about-me__container {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    background-color: #000;
    display: flex;
}

.about-me__left-container {
    width: 50%;
}

.about-me__right-container {
    width: 50%;
}

.about-me__left-container-title {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;
}

.about-me__left-container-text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 30px;
}

.about-me__left-container-bottom-text-container {
    width: 155px;
}

.about-me__left-container-bottom-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.about-me__content_box {
    margin-bottom: 40px;
    height: max-content;
    border: 1px solid var(--dark-grey, #5B6876);
}

.about-me__content_text-content_container {
    padding: 64px;
}

.about-me__content_img-content1 {
    background-image: url(../images/about-me-img1.png);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: fit-content;
    min-height: 50vh;

}

.about-me__content_img-content2 {
    background-image: url(../images/about-me-img2.png);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    min-height: 50vh;
}

.about-me__content_img-content3 {
    background-image: url(../images/about-me-img3.png);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: fit-content;
    min-height: 50vh;
}

.about-me-title-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding-bottom: 100px;
}

.about-me-midle-text {
    color: var(--dark-grey, #5B6876);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.about-me-bottom-text {
    color: var(--dark-grey, #5B6876);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.tabs-container {
    background-color: #000;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
}

.tabs-title-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tabs-text-container {
    padding-bottom: 50px;
}

.tabs-text-text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    background-color: #000;
    display: flex;
    flex-direction: row;
}

.tablinks-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

.tabs-content-container {
    display: flex;
    flex-direction: column;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border: 1px solid var(--purple, #5221E6);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background: var(--purple, #5221E6);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.Italy-content-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    column-gap: 40px;
    row-gap: 40px;
    width: 100%;
}

.Italy__top-row {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    row-gap: 40px;
}

.Italy__bottom-row {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    row-gap: 40px;
}

.Ttaly__img {
    width: 400px;
}

.tab__buttons {
    display: flex;
    flex-direction: row;
}

.tab__buttons-top_row {
    display: flex;
    flex-direction: row;
}

.tab__buttons-bottom_row {
    display: flex;
    flex-direction: row;
}

.text-field {
    margin-bottom: 1rem;
    width: 100%;
    padding-bottom: 30px;
}

.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
}

.text-field__input {
    display: block;
    width: 97%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: "Sen", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    background: #181823;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
}

.text-field__input2 {
    display: block;
    width: 97%;
    height: calc(7rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: "Sen", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    background: var(--level-1, #181823);
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
}

.text-field__input::placeholder {
    opacity: 0.4;
}

.text-field__input:focus {

    background: var(--level-1, #181823);

    outline: 0;
}

.text-field__input:disabled,
.text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

.text-field-text {
    color: #FFF;
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.get_started-container {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    padding-top: 250px;
    padding-bottom: 130px;
}

.get_started-left_column {
    width: 90%;
    padding-right: 10%;
}

.get_started-right_column {
    width: 100%;
}

.get_started-left_column_title {
    color: #FFF;
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.get_started-left_column_text {
    color: #8491A0;
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.get_started-button {
    width: 104%;
    height: 80px;
    background: var(--purple, #5221E6);
    text-align: center;
}

.get_started-button-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    padding-top: 30px;
}

.values__botton-text-text:hover {
    color: #525252;
    cursor: pointer;
}

.instagram-bottom-text-text:hover {
    color: #525252;
    cursor: pointer;
}

.dribbble__text_bottom-button:hover {
    color: #525252;
    cursor: pointer;
}

.about-me__left-container-bottom-text:hover {
    color: #525252;
    cursor: pointer;
}

.past-8-years__column-header-footer_content2:hover {
    background-color: #525252;
    cursor: pointer;
}

.wrapper{
  transform: translate(-50%, -50%);
  margin-left: 34%;
}

.wrapper-header-button:first-child{
  display: block;
  width: 123%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.wrapper-header-button:first-child span{
    position: relative;
    z-index: 2;
    font-family: "Sen", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

.wrapper-header-button:first-child:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #5221E6;
  transition: all .35s;
}

.wrapper-header-button:first-child:hover{
  color: #fff;
}

.wrapper-header-button:first-child:hover:after{
  width: 100%;
}

.text-field__button_container {
    width: 100%;
    height: 60px;
    background-color: #5221E6;
    cursor: pointer;
    text-align: center;
    padding-top: 35px;

}

.text-field__button {
    color: #FFF;
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}





















@media (width >=768px) {
    .main__hero {
        display: flex;
    }

    .main__hero-left-column {
        background-color: #000;
        height: 650px;
    }

    .main__hero-right-column {
        background-color: #181823;
        height: 650px;
    }

    /* .main__hero-img_container {
        position: absolute;
        margin-top: 60px;
        width: 480px;
        height: 415px;
        display: block;
        background-color: #fff;
        background-image: url("../images/Robin-img1.jpg");
        background-size: 100%;
    } */

    .main__hero-title-text {
        font-size: 52px;
    }

    .main__hero-title-text_span {
        font-size: 52px;
    }

}

@media (width <=768px) {
    .main__hero {
        display: flex;
    }

    .main__hero-left-column {
        background-color: #000;
        height: 650px;
    }

    .main__hero-right-column {
        background-color: #000;
        height: 650px;
    }

    .main__hero-img_container {
        position: absolute;
        margin-top: 60px;
        width: 384px;
        height: 650px;
        display: block;
        background-color: #000;
        background-image: url("../images/Robin-img2.png");
        background-size: cover;
    }

    .main__hero-title-text {
        font-size: 42px;
    }

    .companies-container {
        padding-bottom: 30vh;
    }

    .main__hero-title-text_span {
        font-size: 42px;
    }

    .values__right-container {
        background-image: url(../images/values-img2.png);
    }

    .values__left-container {
        padding-top: 75px;
    }

    .skillset-container {
        display: block;
    }

    .skillset__left-container {
        width: 80%;
    }

    .skroll-bar-container {
        flex-direction: row;
        overflow-x: hidden;
        height: 420px;
        padding-left: 0px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .skroll-bar__content_container {
        width: 100%;
    }

    .skroll-bar__left-column {
        flex-direction: column;
        width: 50%;
    }

    .skroll-bar__right-column {
        flex-direction: column;
        width: 50%;
    }

    .past-8-years-container {
        display: block;
    }

    .past-8-years__left_column-container {
        width: 100%;
    }

    .past-8-years__right_column-container {
        width: 100%;
    }

    .past-8-years__column-header-footer_content2 {
        display: none;
        position: absolute;
    }

    .past-8-years__right_column-container {
        padding-left: 0px;
    }

    .dribbble__img-main {
        background-image: url(../images/dribling-main-img2.png);
    }

    .about-me__content_img-content1 {
        background-image: url(../images/about-me-img11.png);
    }

    .about-me__content_img-content2 {
        background-image: url(../images/about-me-img22.png);
    }

    .about-me__content_img-content3 {
        background-image: url(../images/about-me-img33.png);
    }

    .Italy-content-container {
        flex-direction: column;
    }
}

@media (width <=360px) {
    .main__hero {
        display: block;
    }

    .main__hero-left-column {
        background-color: #000;
        height: 326px;
    }

    .main__hero-right-column {
        background-color: #000;
        height: 326px;
        width: 100%;
    }

    .main__hero-img_container {
        position: absolute;
        margin-top: 60px;
        width: 100%;
        height: 650px;
        display: block;
        background-color: #000;
        background-image: url("../images/Robin-img3.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .main__hero-title-text {
        font-size: 32px;
    }

    .main__hero-title-text_span {
        font-size: 32px;
    }

    .main__hero_text {
        padding-top: 80px;
    }

    .companies-second__row {
        display: block;
    }

    .values__right-container {
        background-image: url(../images/values-img2.png);
        height: 600px;
        width: 100%;
    }

    .values-container {
        display: contents;
        width: 100%;
    }

    .values__title-text {
        font-size: 42px;
    }

    .values__left-container {
        padding-top: 50px;
        width: 90%;
    }

    .skillset__right_right-column {
        display: block;
        padding-top: 40px;
    }

    .skillset__right-container {
        display: block;
    }

    .past-8-years__column-container-img1 {
        height: 50%;
        background-image: url(../images/past-8-years-img11.png);

    }

    .past-8-years__column-container-img2 {
        height: 50%;
        background-image: url(../images/past-8-years-img22.png);

    }

    .past-8-years__column-container-img3 {
        height: 50%;
        background-image: url(../images/past-8-years-img33.png);

    }

    .past-8-years__column-container-img4 {
        height: 50%;
        background-image: url(../images/past-8-years-img44.png);

    }

    .past-8-years__column-container-text {
        height: 50%;
    }
    .past-8-years__left_column-container {
        height: 2000px;
        padding-right: 10px;
    }
    .past-8-years__right_column-container {
        height: 2000px;
        padding-left: 0px;
    }

    .instagram-container {
        display: block;
    }

    .companies__left_container {
        padding-bottom: 20vh;
    }

    .companies__midle_container {
        padding-bottom: 20vh;
    }

    .past-8-years__column-header-footer_content-text {
        font-size: 32px;
    }

    .instagram-left__container {
        width: 90%;
    }

    .instagram-right__container {
        width: 100%;
        background-image: url(../images/values-img2.png);
    }

    .dribbble__img-main {
        background-image: url(../images/dribling-main-img3.png);
    }

    .about-me__container {
        display: block;
    }

    .about-me__left-container {
        width: 100%;
        padding-bottom: 50px;

    }

    .about-me__right-container {
        width: 100%;
    }
    .Italy__bottom-row {
        flex-direction: column;
    }

    .Italy__top-row {
        flex-direction: column;
    }

    .Ttaly__img {
        width: 300px;
    }
    .tab__buttons {
        width: 100%;
    }
    .tab__buttons-bottom_row {
        width: 100%;
    }
    .tab {
        flex-direction: column;
        gap: 20px;
    }
    .tablinks {
        width: 50%;
        text-align: center;
        justify-content: center;
    }
    .tabs-title-text {
        font-size: 32px;
    }

    .get_started-container {
        display: block;
    }

    .get_started-left_column {
        width: 100%;
    }

    .get_started-rigth_column {
        width: 100%;
    }

    .footer-container {
        display: block;
    }

    .footer-right_column {
        display: block;
    }
    .companies__title-text {
        font-size: 32px;
    }
    .companies-container {
        padding-top: 200px;
    }
    .instagram-title {
        font-size: 32px;
    }
    
}