@import url("header-style.css");

@font-face {
    font-family: "Sen";
    src: url(../fonts/Sen-Regular.ttf) format(truetype);
    font-weight: 400;
}

.container {
    background-color: #000;
}

.main__hero {
    height: 650px;
}

.main__hero-left-column {
    background-color: #000;
    height: 650px;
    width: 35%;
}

.main__hero-right-column {
    background-color: #181823;
    height: 650px;
    width: 65%;
}

.main__hero-img_container {
    position: absolute;
    margin-top: 60px;
    width: 480px;
    height: 415px;
    display: block;
    background-color: #fff;
    background-image: url("../images/Robin-img1.jpg");
    background-size: 100%;
}

.main__hero-img {
    width: 750px;
    height: 650px;
}

.main__hero_text {
    justify-content: center;
    text-align: left;
    padding-top: 140px;
    position: relative;
}

.main__hero-title-text {
    color: #fff;
    font-family: Sen;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
}

.main__hero-title-text_span {
    color: rgba(255, 255, 255, 0.50);
    font-family: Sen;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
}

.main__hero-text {
    padding-top: 25px;
    padding-left: 20px;
}

.main__hero-text-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.companies-container {
    background-color: #000;
    width: 100%;
    padding-left: 50px;
}

.companies-first__row {
    width: 100%;
    padding-top: 120px;
}

.companies__up-text-text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

.companies__title-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.companies-second__row {
    display: flex;
    width: 100%;
}

.companies__left_container {
    height: 247px;
    width: 33,3%;
}


.companies__midle_container {
    height: 247px;
    width: 33,3%;
}

.companies__right_container {
    height: 247px;
    width: 33,3%;
}

.companies-number-text {
    color: #8491A0;
    font-family: Sen;
    font-size: 117px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.companies-companies-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.text-color-g {
    color: #3CC74E;
}

.text-color-b {
    color: #609BFF;
}

.text-color-r {
    color: #E95D90;
}


.companies-text {
    padding-top: 20px;
    width: 80%;
}

.companies-text-text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.values-container {
    display: flex;
    height: 600px;
    width: 100%;
}

.values__left-container {
    width: 50%;
    background: var(--peach-accent, #FFF3E4);
    padding-left: 5%;
    padding-top: 100px;
    padding-right: 5%;
}

.values__title-text {
    color: var(--level-1, #181823);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.vales__text-text {
    color: var(--dark-grey, #5B6876);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.values__botton-text {
    width: 120px;
    border: #000;
}

.values__botton-text-text {
    color: var(--level-1, #181823);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin-top: 100px;
}

.values__right-container {
    width: 50%;
    background-image: url(../images/values-img1.jpg);
    display: block;
}

.skillset-container {
    background-color: #000;
    display: flex;
}

.skillset__left-container {
    height: 660;
    width: 30%;
    padding-top: 120px;
    padding-left: 72px;
    padding-right: 200px;
}

.skillset__right-container {
    height: 660;
    width: 70%;
    padding-top: 120px;
    padding-left: 72px;
    padding-right: 200px;
}

.skillset__left-title-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;
    
}

.skillset__left-text-text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.skillset__right-container {
    display: flex;
}

.skillset__content_title-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.skillset__content_text-text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.skillset__right_left-column_first-container {
    padding-bottom: 50px;
}

.skillset__right_right-column_first-container {
    padding-bottom: 50px;
}

.skillset__right_left-column {
    margin-right: 40px;
}

.skillset__content_img {
    padding-bottom: 35px;
}

.skillset__content_title-text {
    padding-bottom: 10px;
}

.skroll-bar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    background-color: #000;
    height: 140px;
    padding-left: 60px;
    padding-top: 100px;
}

.skroll-bar__left-column {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.skroll-bar__right-column {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.skroll-bar__content_container {
    height: 100%;
    width: 340px;
    border: 1px solid var(--level-1, #181823);
    text-align: center;
}

.skroll-bar__content-img {
    margin-top: 59px;
}

.past-8-years-container {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 200px;
}

.past-8-years__left_column-container {
    width: 50%;
    height: 2500px;
    padding-right: 10px;
}

.past-8-years__right_column-container {
    width: 50%;
    height: 2500px;
    padding-left: 10px;
}
.past-8-years__column-header-footer_content {
    height: 10%;
    width: 100%;
}

.past-8-years__column-header-footer_content-top_text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    text-transform: uppercase;
}

.past-8-years__column-header-footer_content-text {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.past-8-years__column-container-content {
    width: 100%;
    height: 1000px;
    padding-bottom: 100px;
}

.past-8-years__column-container-img1 {
    height: 75%;
    background-image: url(../images/past-8-years-img1.png);
    background-size: 100%;
}

.past-8-years__column-container-img2 {
    height: 75%;
    background-image: url(../images/past-8-years-img2.png);
    background-size: 100%;
}

.past-8-years__column-container-img3 {
    height: 75%;
    background-image: url(../images/past-8-years-img3.png);
    background-size: 100%;
}

.past-8-years__column-container-img4 {
    height: 75%;
    background-image: url(../images/past-8-years-img4.png);
    background-size: 100%;
}

.past-8-years__column-container-text {
    height: 25%;
    background: var(--level-1, #181823);
    padding: 40px 0px 40px 30px;
}

.past-8-years__column-container-text_lable {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding-bottom: 20px;
}

.past-8-years__column-container-text_text {
    color: var(--light-grey, #8491A0);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.past-8-years__column-header-footer_content2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 110px;
    padding-left: 40%;
}

.past-8-years__column-header-footer_content-button {
    color: var(--white, #FFF);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    border: 1px solid var(--purple, #5221E6);
    padding: 20px 20px ;
}

.instagram-container {
    display: flex;
    height: 600px;
    width: 100%;
}

.instagram-left__container {
    width: 50%;
    background: var(--violet-accent, #FBE4FF);
    padding-left: 5%;
    padding-top: 100px;
    padding-right: 5%;
}

.instagram-title {
    color: var(--level-1, #181823);
    font-family: Sen;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.instagram-text {
    color: var(--dark-grey, #5B6876);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.instagram-bottom-text {
    width: 150px;
    border: #000;
}

.instagram-bottom-text-text {
    color: var(--level-1, #181823);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin-top: 100px;
}

.instagram-right__container {
    width: 50%;
    background-image: url(../images/instagram-img.png);
    display: block;
}



























@media (width >= 768px) {
    .main__hero {
        display: flex;
    }
    .main__hero-left-column {
        background-color: #000;
        height: 650px;
    }
    .main__hero-right-column {
        background-color: #181823;
        height: 650px;
    }
    .main__hero-img_container {
        position: absolute;
        margin-top: 60px;
        width: 480px;
        height: 415px;
        display: block;
        background-color: #fff;
        background-image: url("../images/Robin-img1.jpg");
        background-size: 100%;
    }
    .main__hero-title-text {
        font-size: 52px;
    }
    .main__hero-title-text_span {
        font-size: 52px;
    }
    
}

@media (width <= 768px) {
    .main__hero {
        display: flex;
    }
    .main__hero-left-column {
        background-color: #000;
        height: 650px;
    }
    .main__hero-right-column {
        background-color: #000;
        height: 650px;
    }
    .main__hero-img_container {
        position: absolute;
        margin-top: 60px;
        width: 384px;
        height: 650px;
        display: block;
        background-color: #000;
        background-image: url("../images/Robin-img2.png");
        background-size: 100%;
    }
    .main__hero-title-text {
        font-size: 42px;
    }
    .main__hero-title-text_span {
        font-size: 42px;
    }
    .values__right-container {
        background-image: url(../images/values-img2.png);
    }
    .values__left-container {
        padding-top: 75px;
    }
    .skillset-container {
        display: block;
    }
    .skillset__left-container {
        width: 80%;
    }
    .skroll-bar-container {
        flex-direction: row;
        overflow-x: hidden;
        height: 420px;
    }
    .skroll-bar__left-column {
        flex-direction: column;
    }
    .skroll-bar__right-column {
        flex-direction: column;
    }
    .past-8-years-container {
        display: block;
    }
    .past-8-years__left_column-container {
        width: 100%;
    }
    .past-8-years__right_column-container {
        width: 100%;
    }
    .past-8-years__column-header-footer_content2 {
        display: none;
        position: absolute;
    }
    .past-8-years__right_column-container {
        padding-left: 0px;
    }
}

@media (width <= 360px) {
    .main__hero {
        display: block;
    }
    .main__hero-left-column {
        background-color: #000;
        height: 326px;
    }
    .main__hero-right-column {
        background-color: #000;
        height: 326px;
        width: 100%;
    }
    .main__hero-img_container {
        position: absolute;
        margin-top: 60px;
        width: 384px;
        height: 650px;
        display: block;
        background-color: #000;
        background-image: url("../images/Robin-img3.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .main__hero-title-text {
        font-size: 32px;
    }
    .main__hero-title-text_span {
        font-size: 32px;
    }
    .main__hero_text {
        padding-top: 80px;
    }
    .companies-second__row {
        display: block;
    }
    .values__left-container {
        width: 100%;
    }
    .values__right-container {
        background-image: url(../images/values-img2.png);
        height: 600px;
        width: 100%;
    }
    .values-container {
        display: contents;
    }
    .values__title-text {
        font-size: 42px;
    }
    .values__left-container {
        padding-top: 50px;
    }
    .skillset__right_right-column {
        display: block;
        padding-top: 40px;
    } 
    .skillset__right-container {
        display: block;
    }
    .past-8-years__column-container-img1 {
        height: 50%;
        background-image: url(../images/past-8-years-img11.png);

    }
    .past-8-years__column-container-img2 {
        height: 50%;
        background-image: url(../images/past-8-years-img22.png);

    }
    .past-8-years__column-container-img3 {
        height: 50%;
        background-image: url(../images/past-8-years-img33.png);

    }
    .past-8-years__column-container-img4 {
        height: 50%;
        background-image: url(../images/past-8-years-img44.png);

    }
    .past-8-years__column-container-text {
        height: 50%;
    }
    .past-8-years__right_column-container {
        padding-left: 0px;
    }
    .instagram-container {
        display: block;
    }
    .instagram-left__container {
        width: 100%;
    }
    .instagram-right__container {
        width: 100%;
        background-image: url(../images/values-img2.png);
    }
}


